
@font-face {
    font-family: 'fontry';
    src: url('../fonts/the-fontry_deathe-maach-ncv/DeatheMaachNCV.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
	padding: 70px;
	font-family: 'Quattrocento Sans', sans-serif;
}

body::after {
  content: "";
  background: url(../img/stripes.jpg);
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

/* navbar */
.nav {
	text-transform: uppercase;
}

.navbar-brand, .navbar-default .navbar-nav > li > a, a {
  color: #1b286a;
  font-weight: bold;
}

.navbar-brand {
	font-weight: bold;
}

.navbar-brand>img {
  height: 40px;
  margin-top: -10px;
}

.logoTeaser {
	padding: 5px;
	width: 65px;
	margin-right: 15px;
}

.number-icon {
	display: inline-block;
	width: 2em;
}

/* Striped List */
.striped-list {
	list-style: none;
}

.striped-list > li {
	border-top: 1px solid #e5e5e5;
	padding-left: 0;
	margin-left: -40px;
}

.striped-list > li:nth-of-type(odd) {
	background: #fafafa;
}

.striped-list > li:hover, .striped-list > li:focus, .striped-list > li:active {
	filter: gray; /* IE6-9 */
 	filter: grayscale(1); /* Firefox 35+ */
 	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* misc */

h1, h2, h3 {
	font-family: 'fontry', Tahoma, Arial, sans-serif;
}

h1, h2 {
	color: #d11212;
}

h3, h4 {
	color: #C8C1C2;
}

h4 {
	font-family: Tahoma, Arial, sans-serif;
	text-transform: uppercase;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.number-icon {
	color: #d11212;
	font-family: 'fontry', Tahoma, Arial, sans-serif;
	font-size: 18px;
	padding: 5px 0 5px 10px;
}

li a {
	font-size: 16px;
}

.center {
	text-align: center;
}

.main-div {
	background: white;
	border: solid 1px #e7e7e7;
}

.scoreboard {
	content: "";
 	background: url(../img/scoreboard.png);
 	width: 400px;
 	height: 350px;
 	background-size: contain;
 	background-repeat: no-repeat;
 	padding-top: 85px;
 }

.player {
	width: 250px;
}

