{% extends "base.html"%}
{% load static from staticfiles %}

{% block extra-styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
	<h1 class="title">America's Favorite Pastime</h1>
	<div class="row league hidden-sm hidden-xs">
		<div class="col-sm-6">
			<img src="static/img/american-league.png">
		</div>
		<div class="col-sm-6 greyscale">
			<a href="{% url 'app_teams' %}" alt="national league"><img src="static/img/national-league.png"></a>
		</div>
	</div>

	<div class="row greyscale league-sm hidden-md hidden-lg hidden-xl">
		<a href="{% url 'app_teams' %}" alt="national league"><img src="static/img/national-league.png"></a>
	</div>

  
		
{% endblock %}