{% extends "base.html"%}



{% block content %}
	<h2>Home Page</h2>
	<p>There are  {{ player_count }} players on {{ team_count }} teams.</p>
	<ul>
		<li><a href="{% url 'app_teams' %}">List of Teams</a></li>
		<li><a href="{% url 'app_players' %}">List of Players</a></li>
	</ul>

	{% for team in teams %}
	<a href="{% url 'team' team.id %}">MLB Baseball</a>
	{%endfor%}

  <div class="col-md-6 col-sm-12">
    <h3 class="center"><img src="http://mlb.mlb.com/mlb/images/al_75x75.png" alt="american league" class="logoHeader"><br>American League</h3>
    <ul class="striped-list">
      <li><a href="http://orioles.mlb.com/team/roster_active.jsp?c_id=bal" title="Baltimore Orioles" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_bal_79x76.jpg" alt="Baltimore Orioles" class="logoTeaser">Baltimore Orioles</a></li>
      <li><a href="http://redsox.mlb.com/team/roster_active.jsp?c_id=bos" title="Boston Red Sox" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_bos_79x76.jpg" alt="Boston Red Sox" class="logoTeaser">Boston Red Sox</a></li>
      <li><a href="http://whitesox.mlb.com/team/roster_active.jsp?c_id=cws" title="Chicago White Sox" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_cws_79x76.jpg" alt="Chicago White Sox" class="logoTeaser">Chicago White Sox</a></li>
      <li><a href="http://indians.mlb.com/team/roster_active.jsp?c_id=cle" title="Cleveland Indians" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_cle_79x76.jpg" alt="Cleveland Indians" class="logoTeaser">Cleveland Indians</a></li>
      <li><a href="http://tigers.mlb.com/team/roster_active.jsp?c_id=det" title="Detroit Tigers" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_det_79x76.jpg" alt="Detroit Tigers" class="logoTeaser">Detroit Tigers</a></li>
      <li><a href="http://astros.mlb.com/team/roster_active.jsp?c_id=hou" title="Houston Astros" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_hou_79x76.jpg" alt="Houston Astros" class="logoTeaser">Houston Astros</a></li>
      <li><a href="http://royals.mlb.com/team/roster_active.jsp?c_id=kc" title="Kansas City Royals" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_kc_79x76.jpg" alt="Kansas City Royals" class="logoTeaser">Kansas City Royals</a></li>
      <li><a href="http://angels.mlb.com/team/roster_active.jsp?c_id=ana" title="Los Angeles Angels" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_ana_79x76.jpg" alt="Los Angeles Angels" class="logoTeaser">Los Angeles Angels</a></li>
      <li><a href="http://twins.mlb.com/team/roster_active.jsp?c_id=min" title="Minnesota Twins" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_min_79x76.jpg" alt="Minnesota Twins" class="logoTeaser">Minnesota Twins</a></li>
      <li><a href="http://yankees.mlb.com/team/roster_active.jsp?c_id=nyy" title="New York Yankees" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_nyy_79x76.jpg" alt="New York Yankees" class="logoTeaser">New York Yankees</a></li>
      <li><a href="http://athletics.mlb.com/team/roster_active.jsp?c_id=oak" title="Oakland Athletics" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_oak_79x76.jpg" alt="Oakland Athletics" class="logoTeaser">Oakland Athletics</a></li>
      <li><a href="http://mariners.mlb.com/team/roster_active.jsp?c_id=sea" title="Seattle Mariners" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_sea_79x76.jpg" alt="Seattle Mariners" class="logoTeaser">Seattle Mariners</a></li>
      <li><a href="http://rays.mlb.com/team/roster_active.jsp?c_id=tb" title="Tampa Bay Rays" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_tb_79x76.jpg" alt="Tampa Bay Rays" class="logoTeaser">Tampa Bay Rays</a></li>
      <li><a href="http://texas.rangers.mlb.com/team/index.jsp?c_id=tex" title="Texas Rangers" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_tex_79x76.jpg" alt="Texas Rangers" class="logoTeaser">Texas Rangers</a></li>
      <li><a href="http://toronto.bluejays.mlb.com/team/index.jsp?c_id=tor" title="Toronto Blue Jays" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_tor_79x76.jpg" alt="Toronto Blue Jays" class="logoTeaser">Toronto Blue Jays</a></li>
    </ul>
  </div>

  <div class="col-md-6 col-sm-12">
    <h3 class="center"><img src="http://mlb.mlb.com/mlb/images/nl_75x75.png" alt="national league" class="logoHeader"><br>National League</h3>
    <ul class="striped-list">
      <li><a href="http://arizona.diamondbacks.mlb.com/team/index.jsp?c_id=ari" title="Arizona Diamondbacks" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_ari_79x76.jpg" alt="Arizona Diamondbacks" class="logoTeaser">Arizona Diamondbacks</a></li>
      <li><a href="{% url 'app_teams' %}" title="Atlanta Braves"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_atl_79x76.jpg" alt="Atlanta Braves" class="logoTeaser">Atlanta Braves</a></li>
      <li><a href="http://chicago.cubs.mlb.com/team/index.jsp?c_id=chc" title="Chicago Cubs" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_chc_79x76.jpg" alt="Chicago Cubs" class="logoTeaser">Chicago Cubs</a></li>
      <li><a href="http://cincinnati.reds.mlb.com/team/index.jsp?c_id=cin" title="Cincinnati Reds" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_cin_79x76.jpg" alt="Cincinnati Reds" class="logoTeaser">Cincinnati Reds</a></li>
      <li><a href="http://colorado.rockies.mlb.com/team/index.jsp?c_id=col" title="Colorado Rockies" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_col_79x76.jpg" alt="Colorado Rockies" class="logoTeaser">Colorado Rockies</a></li>
      <li><a href="http://losangeles.dodgers.mlb.com/team/index.jsp?c_id=la" title="Los Angeles Dodgers" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_la_79x76.jpg" alt="Los Angeles Dodgers" class="logoTeaser">Los Angeles Dodgers</a></li>
      <li><a href="http://miami.marlins.mlb.com/team/index.jsp?c_id=mia" title="Miami Marlins" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_mia_79x76.jpg" alt="Miami Marlins" class="logoTeaser">Miami Marlins</a></li>
      <li><a href="http://milwaukee.brewers.mlb.com/team/index.jsp?c_id=mil" title="Milwaukee Brewers" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_mil_79x76.jpg" alt="Milwaukee Brewers" class="logoTeaser">Milwaukee Brewers</a></li>
      <li><a href="http://newyork.mets.mlb.com/team/index.jsp?c_id=nym" title="New York Mets" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_nym_79x76.jpg" alt="New York Mets" class="logoTeaser">New York Mets</a></li>
      <li><a href="http://philadelphia.phillies.mlb.com/team/index.jsp?c_id=phi" title="Philadelphia Phillies" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_phi_79x76.jpg" alt="Philadelphia Phillies" class="logoTeaser">Philadelphia Phillies</a></li>
      <li><a href="http://pittsburgh.pirates.mlb.com/team/index.jsp?c_id=pit" title="Pittsburgh Pirates" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_pit_79x76.jpg" alt="Pittsburgh Pirates" class="logoTeaser">Pittsburgh Pirates</a></li>
      <li><a href="http://sandiego.padres.mlb.com/team/index.jsp?c_id=sd" title="San Diego Padres" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_sd_79x76.jpg" alt="San Diego Padres" class="logoTeaser">San Diego Padres</a></li>
      <li><a href="http://sanfrancisco.giants.mlb.com/team/index.jsp?c_id=sf" title="San Francisco Giants" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_sf_79x76.jpg" alt="San Francisco Giants" class="logoTeaser">San Francisco Giants</a></li>
      <li><a href="http://stlouis.cardinals.mlb.com/team/index.jsp?c_id=stl" title="St. Louis Cardinals" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_stl_79x76.jpg" alt="St. Louis Cardinals" class="logoTeaser">St. Louis Cardinals</a></li>
      <li><a href="http://washington.nationals.mlb.com/team/index.jsp?c_id=was" title="Washington Nationals" target="blank"><img src="http://mlb.mlb.com/mlb/images/team_logos/logo_was_79x76.jpg" alt="Washington Nationals" class="logoTeaser">Washington Nationals</a></li>
    </ul>
  </div>
		
{% endblock %}