{% extends 'base.html' %}

{% block content %}
<div class="col-md-4 col-sm-12">
    <h2>{{player.name}}</h2>
    <div class="player-img"><img src="{{player.image}}" alt="{{player.name}}" /></div>
</div>
<div class="col-md-8 col-sm-12">
    <ul>
    	<li>Number: {{player.number}}</li>
    	<li>Position: {{player.position}}</li> 
    	<li>B/T: {{player.batsthrows}}</li>
    	<li>Height: {{player.height}}</li>
    	<li>Weight: {{player.weight}}</li>
    	<li>Date of Birth: {{player.birthday}}</li>
    </ul>
</div>

    

{% endblock content %}